<h3>Anime Characters</h3>

<%=form_tag(characters_path method: :get)  do%>
  <%=text_field_tag :name %>
  <%=submit_tag "Search", name: nil%> 
 <% end %>

<ul class="list-group">
<%@characters.each do |c|%>
<li class="list-group-item"><%=link_to c.name, character_path(c)%></li>
<% end %>
</ul>


<%# <ul class="list-group">
<li class="list-group-item"><%=link_to c.name, character_path(c)%>