<h3><%=@moment.name%></h3>
<br>
<iframe width="623" height="350" src=<%="#{@moment.code}"%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>

<%=form_for Favorite.new do |f|%>

<%=f.hidden_field :user_id, :value => @current_user.id%>
<%=f.hidden_field :moment_id, :value => @moment.id%>
<%=f.submit "Add to Favorite!"%>

<% end %>


<%= link_to 'Go Back', character_path(@moment.character.id)%>